extends ../layout

block content
    .panel.panel-default
        .panel-heading
            ul#messagesList
                if messages.length > 0
                    each message in messages 
                        li
                            p!= md( message.content)
                            //- #{message.user.username} :  
                            //- if message.user._id == user_id
                                a(href='/channel/#{channel_id}/delete/#{message._id}' class="btn btn-danger") Delete Message
                else
                    li Pas de messages dans ce chat ! :(
        .panel-body
            form.form-horizontal(action="/channel/#{channel_id}/addMessage", method="POST")
                .form-group
                    .label.col-md-2(for="message")
                    .input-group
                        input#message(name="content", type="text", placeholder="Say what you want here !" style="width:100%")
                        input.btn.btn-default(type="submit", value="Send")
            